body {
	margin: 0px;
	background-color: #2D2D30;
	border: 1px solid #68217A;
	left: 0px;
	right: 0px;
	overflow: hidden;
	font-family: sans-serif;
}

#titleBar {
	-webkit-app-region: drag;
	color: #ADADAD;
	text-align: center;
}

#titleBarTitle {
	line-height: 32px;
}

#titleBarButtons {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 0;
	right: 0;
}

#titleBarButtons button {
	height: 32px;
	min-width: 32px;
	background-color: transparent;
	border: none;
	color: #F1F1F1;
}

#titleBarButtons button:hover {
	background-color: #3F3F41;
}

#statusBar {
	background-color: #68217A;
	color: rgb(255, 255, 255);
	padding-left: 10px;
    height: 24px;
	font-size: 12px;
	line-height: 24px;
}

#container {
	height: 100vh;
	color: #CCCCCC;
}