body {
	width: initial;
	height: initial;
	margin: 0px;
	padding: 0px;
	background-color: #2D2D30;
	border: 1px solid #68217A;
	border-bottom: 24px solid #68217A;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

#titleBar {
	-webkit-app-region: drag;
	height: 32px;
	padding: 0px;
	margin: 0px;
	color: #ADADAD;
	font-family: sans-serif;
}

#title {
	position: fixed;
	top: 0px;
	left: 12px;
	line-height: 32px;
	font-size: 14px;
}

#titleBarButtons {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 1px;
	right: 0px;
}

#titleBarButtons button {
	height: 32px;
	width: 32px;
	background-color: transparent;
	border: none;
	color: #F1F1F1;
	font-size: 16px;
}

#titleBarButtons button:hover {
	background-color: #3F3F41;
}

#CodeStreamer {
	height: calc(100vh - 56px);
	color: #CCCCCC;
}

a {
	color: #68217A;
}